<div ng-controller='UploadCtrl'>
  <form name="myForm" class='myForm'>
    <h3>Upload Picture</h3>
    <fieldset>
      Location:
      <input type="text"  name='location' ng-autocomplete ng-model="autocomplete" required options="options" details="details" size='40'/>
      <i ng-show="myForm.location.$error.required">*required</i>
      <br>Photo:
      <input type="file" ngf-select ng-model="picFile" name="file"
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile">
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"><br/><br/><button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>
      <button ng-disabled="!myForm.$valid"
              ng-click="uploadPic(picFile, details)">Submit</button> <br/>
      <span ng-show="result">Upload Successful</span>
      <span class="err" ng-show="error">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form>
</div>
