html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Proza Libre', sans-serif;
}
ng-map {
  height: 90%;
  width: 38%;
  float: left;
  padding: 1%;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}

.RightContent {
  overflow-y: scroll;
  width: 58%;
  float: right;
  padding: 1%;
  max-height: 80%;
}

.result {
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 10;
}

.trending {
  float: left;
  border: blue;
  padding: 10;
}

.pic {
  /*
  width: 600px;
  height: 600px;
  */
  max-width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 2px solid blue;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.innerpic {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.pic .innerpic img {
  padding: 1%;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 /*
  height: 75%;
  width: 75%;
  */
}

h3 {
  color: blue;
  text-align: center;
}

p {
  display: block;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  color: white;
  border-radius: 10px;
  font-family: Arial;
  /*background: #3498db;*/
  background: blue;
  padding: 10px 50px 10px 50px;
}

.trendingSearch {
  display: block;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline-block;
  width: 17.5%;
  padding: 1%;
  border: 2px solid blue;
  border-radius: 10px;
  text-align: center;
  color: lightblue;
}

.active {
  background: blue;
}

li a {
  color: blue;
  text-decoration: none;
}

li.active a {
  color: white;
  text-decoration: none;
}

.underbar {
  border-bottom: 2px blue solid;
}

fieldset {
 border: 2px solid blue;
 border-radius: 10px;
 text-align:center;
}

p.display {
 color: blue;
}

.thumb {
 max-width: 50%;
}
